@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */
.light {
  --primary: #08090a;
  --secondary: #eaeaea;
  --muted-foreground: #737373;
  --background: #ffffff;
  --accent: #a9a9a9;
  --bg-dock: #ffffff;
  --border-dock: #d4d4d4;
  --accent-dock: #f1f1f1;
}

.dark {
  --primary: #ffffff;
  --secondary: #303030cc;
  --muted-foreground: #a3a3a3;
  --background: #08090a;
  --accent: #343434;
  --bg-dock: #161616;
  --border-dock: rgba(255, 255, 255, 0.1);
  --accent-dock: #232323;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-accent: var(--accent);
  --color-bg-dock: var(--bg-dock);
  --color-border-dock: var(--border-dock);
  --color-accent-dock: var(--accent-dock);

  --color-muted-foreground: var(--muted-foreground);
}
